.cart-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1rem;
  padding: 1rem;
}

.card {
  flex-direction: row;
  height: 22rem;
  max-height: 100%;
}

.card-ecom.card-horizontal {
  width: 30rem;
}

.card-ecom.card-horizontal .card-img {
  width: 40%;
  height: auto;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.card-ecom.card-horizontal .card-text {
  display: block;
}

.card-price {
  padding: 0 1rem 0 1rem;
}

.card-price div {
  margin: 0 0.3rem;
}

.card-text {
  height: 5rem;
  overflow-y: scroll;
}

.card-text::-webkit-scrollbar {
  display: none;
}

.txt-strike {
  color: var(--error-red);
}

.card-qty {
  padding: 0 1rem;
}

.card-qty-actions {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.qty-action {
  padding: 0 0.5rem;
}

.input-qty {
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius-large);
  border: 1px solid var(--secondary-color);
}

.flex-1 {
  flex: 1;
}

.card-pricing {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.price-heading {
  font-size: 1.5rem;
  font-weight: var(--weight-medium);
  margin: 1rem 0;
}

.price-subheading {
  margin: 0.7rem 0;
}

.cart-pricing .btn {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
