@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url(./utils.css);

:root {
  --background-color: #f7f7f7;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.navbar {
  background-color: var(--pure-white);
  justify-content: space-around;
  padding: 0;
  margin-bottom: 0.5rem;
}

.nav-actions {
  color: var(--secondary-color);
  align-items: center;
  font-size: 0.75rem;
}

.navbar .input {
  align-self: center;
  width: 20%;
  border-radius: 1rem;
}

.footer {
  background-color: var(--primary-color);
  margin-top: 1rem;
  padding: 2rem 0;
  text-align: center;
  color: var(--text-color);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  width: 100%;
  height: auto;
}

.footer-heading {
  font-size: 1.25rem;
  font-weight: var(--weight-medium);
}

.socials {
  margin: 1rem 0;
}
.socials li {
  display: inline;
  padding: 1rem;
}
